<div class="content-wrapper">
  <div class="row">
    <div class="col-md-6">
      <p>Estimated Balance</p>
    </div>
    <div class="col-sm-3">
      <p>Today's PNL</p>
    </div>
    <div class="col-sm-3">
      <p>This Month's PNL</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="estimated-balance-container">
        <div class="bigger-label">{{estimatedBtcBalance}}</div>
        <div style="font-size: 14px; padding-top: 20px;">BTC</div>
        <div style="font-size: 14px; padding-top: 20px;"> ≈ ${{estimatedUsdBalance}}</div>
      </div>
    </div>
    <div class="col-md-3">
      <ng-container *ngIf="pnlValue >= 0; then positivePnl; else negativePnl">
      </ng-container>

      <ng-template #positivePnl>
        <div class="horizontal-row">
          <div class="bigger-label">+$ {{pnlValue}}</div>
          <div style="font-size: 14px; padding-top: 20px; color: limegreen">+{{pnlChangePercentage}}%</div>
        </div>
      </ng-template>

      <ng-template #negativePnl>
        <div class="horizontal-row">
          <div class="bigger-label">-$ {{pnlValue}}</div>
          <div style="font-size: 14px; padding-top: 20px; color: firebrick">+{{pnlChangePercentage}}%</div>
        </div>
      </ng-template>
    </div>
    <div class="col-md-3">
      <ng-container *ngIf="pnlMonthValue >= 0; then positiveMonthPnl; else negativeMonthPnl">
      </ng-container>

      <ng-template #positiveMonthPnl>
        <div class="horizontal-row">
          <div class="bigger-label">+$ {{pnlMonthValue}}</div>
          <div class="positive-change-pct">+{{pnlMonthChangePercentage}}%</div>
        </div>
      </ng-template>

      <ng-template #negativeMonthPnl>
        <div class="horizontal-row">
          <div class="bigger-label">-$ {{pnlMonthValue * -1}}</div>
          <div class="negative-change-pct">{{pnlMonthChangePercentage}}%</div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
